.played-game {
    font-size: 1em;
    margin-bottom: 2em;
}

.played-game .away {
    background: lightsalmon;
    flex-direction: row;
}

.played-game .home {
    background: lightblue;
    flex-direction: row-reverse;
}

.played-game .reverse .away {
    background: lightblue;
}

.played-game .reverse .home {
    background: lightsalmon;
}

.played-game .participants {
    display: flex;
    flex-wrap: wrap;
}

.played-game .participant {
    width: 50%;
    display: flex;
    padding: .3em;
    justify-content: space-between;
    text-align: center;
}

.played-game .participant .name {
    flex-grow: 2;
}

.played-game .away.off {
    order: 1
}

.played-game .home.def {
    order: 2
}

.played-game .away.def {
    order: 3
}

.played-game .home.off {
    order: 4
}

.played-game .final-score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.played-game .final-score button {
    border: 1px solid darkslategray;
    background-color: lightblue;
    color: darkslategray;
    padding: 1em 2em;
}

.played-game .time {
    color: gray;
    font-size: 1em;
    width: 30%;
}

.played-game .load {
    width: 30%;
    text-align: right;
}