* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  color: darkslategrey;
  box-sizing: border-box;
}

.app {
  padding: 1em;
  max-width: 640px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: .5em;
  margin: 0;
  border: 0;
}

td.num { text-align: right; }
td.sort, th.sort { background-color: lightsalmon; }

tr:nth-child(2n + 1) {
  background-color: lightblue;
}

.tabs {
  margin: 0 0 1em 0;
  padding: 0;
}

.tabs li {
  list-style: none;
  display: inline-block;
}

.tabs li span {
  display: block;
  padding: .5em;
  text-decoration: none;
  color: darkslategray;
  cursor: pointer;
}

.tabs li span.pos {
  background-color: lightsalmon;
  color: darkslategray;
}

.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-title button {
  background: none;
  border: 0;
  font-size: 1.5em;
  padding: .5em 1em .5em .3em;
}

.legend {
  font-size: .7em;
  color: gray;
  display: inline-block;
  margin: 1em 0;
  font-style: italic;
}